apiVersion: v1
kind: ServiceAccount
metadata:
  name: ${ATLANTIS_ACCOUNT_NAME}
  namespace: atlantis
  annotations:
    tke.cloud.tencent.com/role-arn: qcs::cam::uin/${OWNER_UIN}:roleName/${ATLANTIS_ROLE_NAME}
    tke.cloud.tencent.com/audience: sts.cloud.tencent.com
    tke.cloud.tencent.com/token-expiration: "86400"
