apiVersion: v1
kind: ServiceAccount
metadata:
  name: ${GITLAB_ACCOUNT_NAME}
  namespace: gitlab
  annotations:
    tke.cloud.tencent.com/role-arn: qcs::cam::uin/${OWNER_UIN}:roleName/${GITLAB_ROLE_NAME}
    tke.cloud.tencent.com/audience: sts.cloud.tencent.com
    tke.cloud.tencent.com/token-expiration: "86400"

